<nav class="navbar navbar-dark bg primary">
    <a href="/" class="navbar-brand">
        GuiaPress
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="navitem">
            <a href="/admin/categores" class="nav-link">Categorias</a>
        </li>
    </ul>
    
</nav>